@using MudBlazor
@using MyQuizApp.Domain.Users


<MudPaper Height="100%" Style="overflow:hidden; position:relative;">
    <MudDrawerContainer Class="mud-height-full">
        <MudDrawer @bind-Open="@_open" Fixed="false" Elevation="1" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true">
            <MudNavMenu>
                <MudNavLink Icon="@Icons.Material.Rounded.Dashboard" href="/Student/Home" Match="NavLinkMatch.Prefix">Dashboard</MudNavLink>
                <MudNavLink Icon="@Icons.Material.Rounded.Newspaper" href="/Student/Quiz/MyQuizzes" Match="NavLinkMatch.Prefix">My Quizzes</MudNavLink>
            </MudNavMenu>
        </MudDrawer>
        <div class="d-flex justify-center align-center mud-height-full">
            <MudButton OnClick="@ToggleDrawer" Color="Color.Primary">Toggle</MudButton>
        </div>
    </MudDrawerContainer>
</MudPaper>

<MudNavMenu>


  


    <MudNavLink OnClick="@(async () =>
                           {
                               await AuthState.LogoutAsync();
                               NavigationManager.NavigateTo("/login", replace: true);
                           })" Match="NavLinkMatch.Prefix">Logout
    </MudNavLink>

</MudNavMenu>


@code

{
    private bool _open = false;

    private void ToggleDrawer()
    {
        _open = !_open;
    }
}